In [6]:
import pandas as pd
import numpy as np

          Nom  age
0       Modou   19
1     Marieme   19
2       Zeina   19
3        Issa   20
4     Khalifa   20
5       Arama   20
6       Fatou   20
7        Sidy   20
8       Khady   20
9    Seynabou   21
10      Lydia   21
11       Adja   21
12  Moustapha  145
13      Fatim  147

In [9]:
df = pd.read_excel("Kung-fu.xlsx",sheet_name="Kung_fu")
mean=np.mean(df["age"])

In [10]:
df
mean

38.0